In [2]:
import pandas as pd

df = pd.read_csv("books_cleaned.csv")
df1 = pd.read_csv("books_with_categories.csv")
df2 = pd.read_csv("books_with_emotions.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5197 entries, 0 to 5196
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   isbn13              5197 non-null   int64
 1   isbn10              5197 non-null   object
 2   title               5197 non-null   object
 3   authors             5165 non-null   object
 4   categories          5167 non-null   object
 5   thumbnail           5031 non-null   object
 6   description         5197 non-null   object
 7   published_year      5197 non-null   float64
 8   average_rating      5197 non-null   float64
 9   num_pages           5197 non-null   float64
 10  ratings_count       5197 non-null   float64
 11  title_and_subtitle  5197 non-null   object
 12  tagged_description  5197 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 527.9+ KB

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5197 entries, 0 to 5196
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   isbn13              5197 non-null   int64
 1   isbn10              5197 non-null   object
 2   title               5197 non-null   object
 3   authors             5165 non-null   object
 4   categories          5167 non-null   object
 5   thumbnail           5031 non-null   object
 6   description         5197 non-null   object
 7   published_year      5197 non-null   float64
 8   average_rating      5197 non-null   float64
 9   num_pages           5197 non-null   float64
 10  ratings_count       5197 non-null   float64
 11  title_and_subtitle  5197 non-null   object
 12  tagged_description  5197 non-null   object
 13  simple_categories   5197 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 568.6+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5197 entries, 0 to 5196
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   isbn13              5197 non-null   int64
 1   isbn10              5197 non-null   object
 2   title               5197 non-null   object
 3   authors             5165 non-null   object
 4   categories          5167 non-null   object
 5   thumbnail           5031 non-null   object
 6   description         5197 non-null   object
 7   published_year      5197 non-null   float64
 8   average_rating      5197 non-null   float64
 9   num_pages           5197 non-null   float64
 10  ratings_count       5197 non-null   float64
 11  title_and_subtitle  5197 non-null   object
 12  tagged_description  5197 non-null   object
 13  anger               5197 non-null   float64
 14  disgust             5197 non-null   float64
 15  fear                5197 non-null   float64
 16  sadness             5197 non-null   float64
 17  surprise            5197 non-null   float64
 18  joy                 5197 non-null   float64
 19  neutral             5197 non-null   float64
dtypes: float64(11), int64(1), object(8)
memory usage: 812.2+ KB